.userinfo-item {
    display: flex;
    align-items: center;
    min-width: 170px;
    justify-content: center;
    padding: 10px;
    border: 1px solid #392D32;
    box-shadow: 5px 5px 6px 1px  #BAC9BA;
    border-radius: 20px;
    margin: 15px auto;

    &-icon {
        position: relative;
        width: 36px;
        height: 36px;
        background-color: #BAC9BA;
        border-radius: 50%;
        i {
            position: absolute;
            top: 7px;
            left: 8px;
            font-size: 20px;
        }
    }
    &-content {
        margin-left: 10px;
        &__label, &__value {
            font-size: 16px;
        }
        &__value {
            font-weight: 800;
            font-size: 18px;
            margin-left: 5px;
        }
    }
}