.user-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 15px 30px;
    margin-right: 15px;
    border: 1px solid #392D32;
    box-shadow: 5px 5px 6px 1px  #BAC9BA;
    border-radius: 20px;
    max-height: 180px;

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__item {
            display: flex;
            align-items: center;
            .icon {
                font-size: 20px;
                margin-right: 5px;
                color:#BAC9BA;
            }
        }
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            &-name, &-location {
                font-size: 18px;
            }
            &-name {
                font-weight: bold;
            }
            &-location {
                display: flex;
                align-items: center;
                .icon {
                    font-size: 20px;
                    margin-right: 5px;
                    color:#BAC9BA;
                }
            }
        }

        &__url {
            padding: 5px 15px;
            text-decoration: none;
            border: 1px solid #392D32;
            box-shadow: 5px 5px 6px 1px  #BAC9BA;
            border-radius: 20px;
            color: #BAC9BA;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover{
                color:#392D32;
            }
        }

        &__image {
            border-radius: 50%;
            border: 2px solid #392D32;
            box-shadow: 5px 5px 6px 1px  #BAC9BA;
            width: 25%;
        }
    }

}