.user-followers {
    padding: 0 5px;
    border: 1px solid #392D32;
    box-shadow: 5px 5px 6px 1px  #BAC9BA;
    border-radius: 20px;
    width: 40%;
    overflow-y: scroll;
    max-height: 350px;
    &::-webkit-scrollbar {
        width: 0px;
        background: transparent; 
    }
    &-item {
        display: flex;
        padding: 15px 5px 15px 5px;
        align-items: center;
        border-bottom: 1px solid #392D32;

        &:last-child {
            border-bottom: none;
        }
        
        &__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            &-link {
                text-decoration: none;
                color: #392D32;
                display: flex;
                align-items: center;
                margin-top: 5px;
                .icon {
                    font-size: 20px;
                    margin-right: 5px;
                    color:#BAC9BA;
                }
            }
        }

        &__image {
            margin-right: 30px;
            border-radius: 50%;
            border: 2px solid #392D32;
            box-shadow: 5px 5px 6px 1px  #BAC9BA;
            width: 15%;
        }
    }
}